<!-- DOWNLOADER CONTAINER -->
<div class="container border rounded-top bg-white py-5">
    <h1 class="text-center">Download Video and Audio from YouTube</h1>
    <form (ngSubmit)="fetchVideoData()" method="GET">
        <div class="input-group rounded px-5 pt-3">
        <input type="search" class="form-control rounded" [(ngModel)]="videoUrl" name="videoUrl" placeholder="Enter YouTube URL" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </span>
        </div>
    </form>
    <p class="text-center">By using our service you are accepting our <a class="text-danger mb-5" routerLink="/terms-of-use">Terms of Use</a>.</p>

    <div class="d-flex justify-content-center mt-5" *ngIf="dataIsLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-5" *ngIf="dataNotFoundMessage">
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead">{{errorMessage}}</h2>
        </div>
    </div>

    <!-- DOWNLOADER CONTAINER -->
    <div class="row px-3 mt-5" *ngIf="showTable">
        <div class="col-lg-4 col-sm-4">
            <div class="card">
                <img [src]="details!.thumbnails" class="card-img-top" alt="Youtube Downloader Video Image" width="257px" height="193">
                <div class="card-body">
                    <h5 class="card-title">{{details!.title}}</h5>
                    <p class="card-text">
                        <i class="bi bi-eye"></i>
                        <small class="text-body-secondary"> {{details!.viewCount}} views</small>
                        <br>
                        <i class="bi bi-person-bounding-box"></i>
                        <small class="text-body-secondary"> {{details!.author}}</small>
                        <br>
                        <i class="bi bi-hourglass-split"></i>
                        <small class="text-body-secondary"> {{secToMin(details!.lengthSeconds)}}</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <ul class="nav nav-tabs justify-content-start" role="tablist">
                <li class="nav-item p-0" role="presentation">
                    <a class="nav-link" [class.active]="activeTab === 'video-with-audio'" data-toggle="tab" aria-expanded="true" (click)="changeTab('video-with-audio')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"></path>
                        </svg>
                        Video
                    </a>
                </li>
                <li class="nav-item p-0" role="presentation">
                    <a class="nav-link" [class.active]="activeTab === 'audio'" data-toggle="tab" aria-expanded="false" (click)="changeTab('audio')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7v72V368c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V147L192 223.8V432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V200 128c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"></path>
                        </svg>
                        Audio
                    </a>
                </li>
                <li class="nav-item p-0" role="presentation">
                    <a class="nav-link" [class.active]="activeTab === 'video'" data-toggle="tab" aria-expanded="false" (click)="changeTab('video')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-mute-fill" viewBox="0 0 16 16">
                            <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        VIDEO (NO AUDIO):
                    </a>
                </li>
                <li class="nav-item p-0" role="presentation">
                    <a class="nav-link position-relative" [class.active]="activeTab === 'merged-audio-with-video'" data-toggle="tab" aria-expanded="false" (click)="changeTab('merged-audio-with-video')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-4k-fill" viewBox="0 0 16 16">
                            <path d="M3.577 8.9v.03h1.828V5.898h-.062a46.781 46.781 0 0 0-1.766 3.001z"/>
                            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm2.372 3.715.435-.714h1.71v3.93h.733v.957h-.733V11H5.405V9.888H2.5v-.971c.574-1.077 1.225-2.142 1.872-3.202m7.73-.714h1.306l-2.14 2.584L13.5 11h-1.428l-1.679-2.624-.615.7V11H8.59V5.001h1.187v2.686h.057L12.102 5z"/>
                        </svg>
                        VIDEO (HIGH QUALITY):
                        <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-success">
                            beta
                        </span>
                    </a>
                </li>
            </ul>
            <table class="table table-bordered" *ngIf="activeTab === 'video-with-audio'">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let videoWithAudioFormat of videoWithAudioFormats">
                      <td>{{ videoWithAudioFormat!.qualityLabel }} ({{ videoWithAudioFormat!.extension }})</td>
                      <td>{{ kbToMb(videoWithAudioFormat!.contentLength) }} MB</td>
                      <td>
                        <a (click)="downloadFile(details!.videoID, videoWithAudioFormat!.qualityLabel, videoWithAudioFormat!.extension, 'video-with-audio')" class="btn btn-success">
                            <i class="bi bi-download"></i> Download
                        </a>                        
                      </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" *ngIf="activeTab === 'audio'">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let audioFormat of audioFormats">
                      <td>{{ audioFormat!.audioQuality }} ({{ audioFormat!.extension }})</td>
                      <td>{{ kbToMb(audioFormat!.contentLength) }} MB</td>
                      <td>
                        <a (click)="downloadFile(details!.videoID, audioFormat!.audioQuality, audioFormat!.extension, 'audio')" class="btn btn-success">
                          <i class="bi bi-download"></i> Download
                        </a>
                      </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" *ngIf="activeTab === 'video'">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let videoFormat of videoFormats">
                      <td>{{ videoFormat!.qualityLabel }} ({{ videoFormat!.extension}})</td>
                      <td>{{ kbToMb(videoFormat!.contentLength) }} MB</td>
                      <td>
                        <a (click)="downloadFile(details!.videoID, videoFormat!.qualityLabel, videoFormat!.extension, 'video')" class="btn btn-success">
                          <i class="bi bi-download"></i> Download
                        </a>
                      </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" *ngIf="activeTab === 'merged-audio-with-video'">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let videoFormat of videoFormats">
                      <td>{{ videoFormat!.qualityLabel }} ({{ videoFormat!.extension}})</td>
                      <td>{{ kbToMb(videoFormat!.contentLength) }} MB</td>
                      <td>
                        <a (click)="downloadFile(details!.videoID, videoFormat!.qualityLabel, videoFormat!.extension, 'merged-audio-with-video')" class="btn btn-success">
                          <i class="bi bi-download"></i> Download
                        </a>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>