<nav class="navbar navbar-expand-sm mb-3 border">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">
            <img id="logo" src="/assets/img/logo.png" alt="" width="50px">
            <a class="text-uppercase text-decoration-none color2">YouDown</a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="youtubeAllTag" routerLink="/all" routerLinkActive="active" class="nav-link">YoutubeALL 💯</a>
                </li>
                <li class="nav-item">
                    <a id="youtubePlaylistTag" routerLink="/playlist" routerLinkActive="active" class="nav-link">Youtube Playlist <i class="bi bi-list-nested"></i></a>
                </li>
                <li class="nav-item">
                    <a id="youtubeChannelTag" routerLink="/channel" routerLinkActive="active" class="nav-link">Youtube Channel <i class="bi bi-collection-play"></i></a>
                </li>
                <li class="nav-item">
                    <a id="youtubeChannelTag" routerLink="/login" routerLinkActive="active" class="nav-link ms-3"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                    <!-- <i class="bi bi-person-circle"></i> -->
                </li>
            </ul>
        </div>
    </div>
</nav>