<!-- DOWNLOADER CONTAINER -->
<div class="container border rounded py-5">
    <h1 class="text-center">Download Video and Audio from ChannelYT</h1>
    <form action="downloader/channel" method="get">
      <div class="input-group rounded px-5 pt-3">
        <input type="search" class="form-control rounded" name="channelUrl" placeholder="Enter YouTube Channel URL" aria-label="Search" aria-describedby="search-addon" disabled/>
        <span class="input-group-text border-0" id="search-addon">
            <button type="submit" class="btn btn-primary" disabled>
              <i class="bi bi-search"></i>
            </button>
          </span>
      </div>
    </form>
    <p class="text-center text-warning">We have some problems, the functions are temporarily unavailable. We apologize for any inconvenience. 🙂</p>
    <p class="text-center">By using our service you are accepting our <a class="text-danger mb-5" routerLink="/terms-of-use">Terms of Use</a>.</p>
  </div>