
:root {
	--color-1: #070A52;
	--color-2: #D21312;
	--color-3: #ED2B2A;
	--color-4: #F15A59;
}

.color1 {
    color: var(--color-1);
}

.color2 {
    color: var(--color-2);
}

.color3 {
    color: var(--color31);
}

.color4 {
    color: var(--color-4);
}